@import url(https://fonts.google.com/specimen/Outfit);
.attribution { 
    font-size: 11px; text-align: center;
    /* padding-left:1% ; */
}
.attribution a { color: hsl(228, 45%, 44%); }




*{
    padding: 0;
    margin: 0;
}

.back{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-left: 290px;
    margin-right: 400px;
    padding-bottom: 100px;
    margin-top: 50px;
   
}

.Qr img{
    margin-top:30px ;
    margin-left: 40px;
    border-radius: 20px;
}

h3{
    color:hsl(220,15%, 55%);
    font-size: 15px;
    font-weight: 700;
    
}

p {
    color:hsl(212,45%, 89%);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}

.body{
    padding-left: 230px;
    padding-top: 20px;

    
}

.container{
  height: 100vh;

}



